{%extends 'development/programming_base.html' %} {% block programming_content %}
<link rel="stylesheet" href="{{url_for('static', filename='programming.css')}}">
<h1 class="title">Programming Learning Hub</h1>
<p class="subtitle">
  Choose a programming module to start learning step-by-step structured content.
</p>
<div class="overview-grid">
  <div class="card">
    <h3>Python</h3>
    <p>Learn programming logic, syntax, and backend development basics.</p>
    <a href="{{ url_for('python') }}" class="btn">Start Learning</a>
  </div>
  <div class="card">
    <h3>HTML</h3>
    <p>
      Structure web pages using semantic HTML elements and layout principles.
    </p>
    <a href="{{ url_for('html_page') }}" class="btn">Start Learning</a>
  </div>
  <div class="card">
    <h3>CSS</h3>
    <p>Style websites using layouts, flexbox, grid, and responsive design.</p>
    <a href="{{ url_for('cascading') }}" class="btn">Start Learning</a>
  </div>
  <div class="card">
    <h3>Flask</h3>
    <p>Build backend web applications using Python Flask framework.</p>
    <a href="{{ url_for('flasks') }}" class="btn">Start Learning</a>
  </div>
  <div class="card">
    <h3>React</h3>
    <p>Build backend web applications using Python Flask framework.</p>
    <a href="{{ url_for('react') }}" class="btn">Start Learning</a>
  </div>
  <div class="card">
    <h3>Express</h3>
    <p>Build backend web applications using Python Flask framework.</p>
    <a href="{{ url_for('express') }}" class="btn">Start Learning</a>
  </div>
  <div class="card">
    <h3>Nodejs</h3>
    <p>Build backend web applications using Python Flask framework.</p>
    <a href="{{ url_for('nodejs') }}" class="btn">Start Learning</a>
  </div>
</div>
{% endblock %}
