{%extends 'base.html'%} {%block head%} {%endblock%} {%block body%}
<nav style="display: flex; justify-content: space-between; align-items: center">
  <a href="{{ url_for('fundamentals') }}">Design Basics</a>
  <a href="{{ url_for('typography') }}">Typography</a>
  <a href="{{ url_for('color') }}">Color Theory</a>
  <a href="{{ url_for('software') }}">Tools</a>
  <a href="{{ url_for('logo') }}">Logo Design</a>
  <a href="{{ url_for('uiux') }}">UI/UX</a>
  <a href="{{ url_for('projects') }}">Projects</a>
</nav>
<main>{% block design_content %}{% endblock %}</main>
{%endblock%}
