{%extends 'base.html'%} {%block head%}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='forgot_password.css')}}"
/>
{%endblock%} {%block body%}
<p id="para">Create new password here</p>
<p id="para">
  NB. All field marked <span class="required">*</span> is required
</p>
{% with messages = get_flashed_messages() %} {% if messages %} {% for message in
messages %}
<p class="required">{{ message }}</p>
{% endfor %} {% endif %} {% endwith %}
<form method="POST" action="{{ url_for('forgot_password') }}">
  <label for="email">Email: <span class="required">*</span></label>
  <input type="email" id="email" name="user_email" value="{{email}}" />
  <label for="password">Old Password: <span class="required">*</span></label>
  <input type="password" id="old_password" name="old_user_password" />
  <label for="password">New password: <span class="required">*</span></label>
  <input type="password" id="new_password" name="new_user_password" />
  <label for="password"
    >Confirm New Password: <span class="required">*</span></label
  >
  <input
    type="password"
    id="confirm_new_user_password"
    name="confirm_new_user_password"
  />
  <button id="login_btn">Submit</button>
</form>
<script src="{{ url_for('static', filename='forgot_password.js')}}"></script>
{%endblock%}
