:root {
  --primary: blue;
  --secondary: rgb(255, 149, 0);
  --bg: black;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav {
  background-color: var(--bg);
}
.hero {
  width: 100vw;
  height: 100vh;
  background-color: white;
}
section h1,
p {
  text-align: center;
  color: black;
  margin-top: 2rem;
}
.hero-buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.hero-buttons a {
  margin: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}
.hero-buttons .btn {
  background-color: var(--primary);
  padding: 1rem;
  color: white;
  border-radius: 20px;
}
.hero-buttons .btn-outline {
  border: solid 2px var(--secondary);
  padding: 1rem;
  color: black;
  border-radius: 20px;
}
.brand {
  padding-top: 2rem;
  text-align: center;
}
#motion {
  animation: motion infinite 2s alternate-reverse ease-in-out;
}
.name {
  color: var(--secondary);
}
.services h2{
text-align: center;
color: var(--primary);
margin-bottom: 1rem;
}
.service-container
.cta {
  background-color: var(--primary);
  padding: 2rem;
}
.cta h2 {
  color: white;
  text-align: center;
}
.btn{
  text-decoration: none;
  background-color: var(--secondary);
  margin-top: 2rem;
 
}
footer {
  background-color: var(--bg);
  text-align: center;
  padding: 2rem 0;
}
footer p {
  font-size: 14px;
  color: white;
  line-height: 0;
}
@keyframes motion {
  0% {
    transform: rotate(90deg) translateX(30px);
  }
  100% {
    transform: rotate(90deg) translateX(-10px);
  }
}
